@{
    ViewBag.Title = "Checkout";
}
@using mercadopago
@using webVentaLibros.Models
@using System.Collections
@{
    MP mp = new MP("5423337948594881", "6dJ2lH2MWshwoj1zWKH2eEMSN8gYthLl");

    Hashtable preference = mp.createPreference("{\"items\":[{\"title\":\"sdk-dotnet\",\"quantity\":1,\"currency_id\":\"ARS\",\"unit_price\":10.5}]}");

    //int cantidadItems = ViewBag.cantidad;
    //string cadena = "{\"items\":[";

    //foreach (var v in Session["carrito"] as List<CarritoItem>) {
    //    if (cantidadItems != 1)
    //    {
    //        cadena = cadena + "{\"title\":\"" + v.Libro.titulo + "\",\"quantity\":" + v.Cantidad+",\"currency_id\":\"ARS\",\"unit_price\":" + v.Libro.precio+"},";
    //        cantidadItems--;
    //    } else {
    //        cadena = cadena + "{\"title\":\"" + v.Libro.titulo + "\",\"quantity\":" + v.Cantidad + ",\"currency_id\":\"ARS\",\"unit_price\":" + v.Libro.precio + "}";
    //    }
    //}
    //cadena = cadena + "]}";
    
    //Hashtable preference = mp.createPreference(cadena);

    var url = ((Hashtable)preference["response"])["sandbox_init_point"];
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout Page - Ustora Demo</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            @if (Request.IsAuthenticated)
                            {
                                <li><a href="#"><i class="fa fa-user"></i> Mi Cuenta</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> Lista de Deseo</a></li>
                            }
                            <li>
                                @Html.ActionLink("Carrito", "Index", "Cart")
                            </li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Cerrar sesión", "Logout", "User")
                                }
                                else
                                {
                                    @Html.ActionLink("Iniciar sesión", "Login", "User")
                                }
                            </li>
                        </ul>
                    </div>
                </div>

               
            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="../img/logo.png"></a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="active">
                            @Html.ActionLink("Carrito", "Carrito", "Cart")
                        </li>
                        <li>
                            @Html.ActionLink("Libros", "Catalogo", "Catalogo")
                        </li>
                        <li><a href="#">Intercambio de Libros</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Carrito de Compra</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Buscar libro</h2>
                        <form action=@Url.Action("BuscarLibro","Busqueda") method="POST" role="form">
                            <input type="text" name="busqueda" placeholder="Ingresar titulo,autor,ISBN..." required>
                            <input type="submit" value="Buscar">
                        </form>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Sugerencias</h2>
                        <div class="thubmnail-recent">
                            <img src="../img/100x190.png" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">Libro</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="../img/100x190.png" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">Libro</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="../img/100x190.png" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">Libro</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                            </div>
                        </div>
                        <div class="thubmnail-recent">
                            <img src="../img/100x190.png" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">Libro</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                           

                           

                           

                            <form enctype="multipart/form-data" action="#" class="checkout" method="post" name="checkout">

                                <div id="customer_details" class="col2-set">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>Detalles de facturación</h3>
                                            

                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">
                                                    Nombre <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="" id="billing_first_name" name="billing_first_name" class="input-text ">
                                            </p>

                                            <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                <label class="" for="billing_last_name">
                                                    Apellido <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                            </p>
                                            <div class="clear"></div>

                                            <p id="billing_country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                                                <label class="" for="billing_country">
                                                    Provincia <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="" id="billing_country" name="billing_country" class="input-text ">
                                            </p>

                                            <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                                                <label class="" for="billing_city">
                                                    Localidad <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value=""  id="billing_city" name="billing_city" class="input-text ">
                                            </p>

                                            <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                <label class="" for="billing_address_1">
                                                    Domicilio <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" id="billing_address_1" name="billing_address_1" class="input-text ">
                                            </p>                                       
                                            
                                            <p id="billing_postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                                                <label class="" for="billing_postcode">
                                                    Código Postal <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value=""  id="billing_postcode" name="billing_postcode" class="input-text ">
                                            </p>

                                            <div class="clear"></div>

                                            <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">
                                                    Email <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="" placeholder="" id="billing_email" name="billing_email" class="input-text ">
                                            </p>

                                            
                                            <div class="clear"></div>


                                           

                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="woocommerce-shipping-fields">
                                            <h3 id="ship-to-different-address">
                                                <label class="checkbox" for="ship-to-different-address-checkbox">¿Enviar a un domicilio diferente?</label>
                                                <input type="checkbox" value="1" name="ship_to_different_address" checked="checked" class="input-checkbox" id="ship-to-different-address-checkbox">
                                            </h3>
                                            <div class="shipping_address" style="display: block;">
                                                <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                    <label class="" for="billing_first_name">
                                                        Nombre <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="" id="billing_first_name" name="billing_first_name" class="input-text ">
                                                </p>

                                                <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                    <label class="" for="billing_last_name">
                                                        Apellido <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                                </p>
                                                <div class="clear"></div>

                                                <p id="billing_country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                                                    <label class="" for="billing_country">
                                                        Provincia <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="" id="billing_country" name="billing_country" class="input-text ">
                                                </p>

                                                <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                                                    <label class="" for="billing_city">
                                                        Localidad <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" id="billing_city" name="billing_city" class="input-text ">
                                                </p>

                                                <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                    <label class="" for="billing_address_1">
                                                        Domicilio <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" id="billing_address_1" name="billing_address_1" class="input-text ">
                                                </p>

                                                <p id="billing_postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                                                    <label class="" for="billing_postcode">
                                                        Código Postal <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" id="billing_postcode" name="billing_postcode" class="input-text ">
                                                </p>

                                                <div class="clear"></div>


                                            </div>

                                         


                                        </div>

                                    </div>

                                </div>

                                <h3 id="order_review_heading">Tu compra</h3>

                                <div id="order_review" style="position: relative;">
                                    <table class="shop_table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Libro</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Session["carrito"] as List<CarritoItem>) { 
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    @item.Libro.titulo <strong class="product-quantity">× @item.Cantidad</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">$@(item.Cantidad * item.Libro.precio)</span>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>

                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td>
                                                    <span class="amount">$@ViewBag.total</span>
                                                </td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Envio</th>
                                                <td>

                                                    Envio gratis
                                                    <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                                </td>
                                            </tr>


                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td><strong><span class="amount">$@ViewBag.total</span></strong> </td>
                                            </tr>

                                        </tfoot>
                                    </table>


                                    <div id="payment">
                                        

                                        <div class="form-row place-order">

                                            
                                            <a href="@url" name="MP-Checkout" class="orange-ar-m-sq-arall">Pagar con MercadoPago</a>
                                            
                                            
                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>u<span>Stora</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="#">Historial de Pedidos</a></li>
                            <li><a href="#">Lista de deseos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Principal</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Libros</h2>
                        <ul>
                            <li><a href="#">Más vendidos</a></li>
                            <li><a href="#">Más visitados</a></li>
                            <li><a href="#">Novedades</a></li>
                            <li><a href="#">Intercambios</a></li>
                            <li><a href="#">Consultas y sugerencias</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End footer bottom area -->

    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="../js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="../js/main.js"></script>
    <script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>
</body>
