@{
    ViewBag.Title = "AceptarIntercambio";
}
@using webVentaLibros.Models;
@using WebMatrix.WebData;

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intercambios - Venta de Libros</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <link rel="stylesheet" href="../assets/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/se-1.2.2/datatables.min.css" />

    <script type="text/javascript" href="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>

    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
    </script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>


    <script type="text/javascript">
        function mostrar() {
            document.getElementById('oculto').style.display = 'block';
            location.href = "#oculto";
        }
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            @if (Request.IsAuthenticated)
                            {
                                <li><span>Hola @System.Web.HttpContext.Current.Session["nombreUsuario"] !</span></li>
                                if (Roles.IsUserInRole("Administrador"))
                                {
                                    <li>@Html.ActionLink("Panel de Control", "Index", "Admin")</li>
                                }
                                else
                                {
                                    <li><a href="../CuentaUsuario/MiCuenta"><i class="fa fa-user"></i> Mi Cuenta</a></li>
                                }
                            }
                            @if (!Roles.IsUserInRole("Administrador"))
                            {
                                <li>
                                    @Html.ActionLink("Carrito", "Carrito", "Cart")
                                </li>
                            }
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Cerrar sesión", "Logout", "User")
                                }
                                else
                                {
                                    @Html.ActionLink("Iniciar sesión", "Login", "User")
                                }
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="~/img/logo2.png"></a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        @if (Session["carrito"] == null)
                        {
                            <a href="Cart/Carrito">Carrito - <span class="cart-amunt">ARS $0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
                        }
                        else
                        {
                            <a href="Cart/Carrito">Carrito - <span class="cart-amunt">ARS $@Session["totalCompra"]</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@Session["cantidadLibros"]</span></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area" style="background-color: #363636">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Panel de control", "MiCuenta", "CuentaUsuario")
                        </li>
                        <li class="active">
                            @Html.ActionLink("Solicitudes", "SolicitudesIntercambio", "CuentaUsuario")
                        </li>
                        <li>
                            @Html.ActionLink("Mis publicaciones", "MisPublicacionesActivas", "CuentaUsuario")
                        </li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-12">
                    <div class="product-content-right">


                        <div class="row">
                            @if (ViewBag.libro1 != null)
                            {
                                foreach (var libro in ViewBag.libro1)
                                {

                                    <div class="col-md-6">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                @if (libro.Usuarios.idUsuario == Convert.ToInt32(System.Web.HttpContext.Current.Session["IDUSUARIO"]))
                                                {
                                                    <h3 class="panel-title">Mi libro</h3>
                                                }
                                                else
                                                {
                                                    <h3 class="panel-title">Ofrece...</h3>
                                                }
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-sm-6">
                                                    <div class="product-images">
                                                        <div class="product-main-img">
                                                            <img src="../@libro.foto" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="product-inner">
                                                        <h2 class="product-name">@libro.titulo</h2>


                                                        <div class="product-inner-category">
                                                            <p>Género: @libro.Generos.nombre</p>
                                                            <p>Autor: @libro.autor</p>
                                                        </div>

                                                        <div role="tabpanel">
                                                            <ul class="product-tab" role="tablist">
                                                                <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Descripción</a></li>
                                                                <li role="presentation"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">Datos del usuario</a></li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div role="tabpanel" class="tab-pane fade in active" id="home1">

                                                                    <p>
                                                                        @libro.descripcion
                                                                    </p>

                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="profile1">
                                                                    <h2>Usuario</h2>
                                                                    <p><label>Ubicación:</label> @libro.Usuarios.Localidades.nombre, @libro.Usuarios.Provincias.nombre</p>
                                                                    <p><label>Nombre:</label> @libro.Usuarios.nombreUsuario</p>
                                                                    <p><label>Calificacion:</label> </p>
                                                                    <br />
                                                                    <p><label>Email de contacto:</label>@libro.Usuarios.mail</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @if (ViewBag.libro2 != null)
                            {
                                foreach (var libro in ViewBag.libro2)
                                {

                                    <div class="col-md-6">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                @if (libro.Usuarios.idUsuario == Convert.ToInt32(System.Web.HttpContext.Current.Session["IDUSUARIO"]))
                                                {
                                                    <h3 class="panel-title">Mi libro</h3>
                                                }
                                                else
                                                {
                                                    <h3 class="panel-title">Ofrece...</h3>
                                                }
                                                
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-sm-6">
                                                    <div class="product-images">
                                                        <div class="product-main-img">
                                                            <img src="../@libro.foto" alt="">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-6">
                                                    <div class="product-inner">
                                                        <h2 class="product-name">@libro.titulo</h2>


                                                        <div class="product-inner-category">
                                                            <p>Género: @libro.Generos.nombre</p>
                                                            <p>Autor: @libro.autor</p>
                                                        </div>

                                                        <div role="tabpanel">
                                                            <ul class="product-tab" role="tablist">
                                                                <li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Descripción</a></li>
                                                                <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">Datos del usuario</a></li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div role="tabpanel" class="tab-pane fade in active" id="home2">

                                                                    <p>
                                                                        @libro.descripcion
                                                                    </p>

                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="profile2">
                                                                    <h2>Usuario</h2>
                                                                    <p><label>Ubicación:</label> @libro.Usuarios.Localidades.nombre, @libro.Usuarios.Provincias.nombre</p>
                                                                    <p><label>Nombre:</label> @libro.Usuarios.nombreUsuario</p>
                                                                    <p><label>Calificacion:</label> </p>
                                                                    <br />
                                                                    <p><label>Email de contacto:</label>@libro.Usuarios.mail</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            @if (ViewBag.libroIntercambiados != null)
                            {
                                foreach (var intercambio in ViewBag.libroIntercambiados)
                                {
                                    <div class="col-md-6 col-md-offset-3" style="text-align:center">
                                        <div class="col-md-6">
                                            <form style="text-align:center" action=@Url.Action("IntercambioRealizado","CuentaUsuario") method="POST" role="form">
                                                <input type="text" name="idPublicacion1" value="@intercambio.idPublicacionUsuario1" hidden />
                                                <input type="text" name="idPublicacion2" value="@intercambio.idPublicacionUsuario2" hidden />
                                                <button type="submit" class="btn-info">Intercambio exitoso</button>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form style="text-align:center" action=@Url.Action("IntercambioNoRealizado", "CuentaUsuario") method="POST" role="form">
                                            <input type="text" name="idPublicacion1" value="@intercambio.idPublicacionUsuario1" hidden />
                                            <input type="text" name="idPublicacion2" value="@intercambio.idPublicacionUsuario2" hidden />
                                            <button type="submit" class="btn-info">Intercambio fallido</button>
                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>u<span>Stora</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Usuario </h2>
                        <ul>
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="#">Historial de Pedidos</a></li>
                            <li><a href="#">Lista de deseos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Principal</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Libros</h2>
                        <ul>
                            <li><a href="#">Más vendidos</a></li>
                            <li><a href="#">Más visitados</a></li>
                            <li><a href="#">Novedades</a></li>
                            <li><a href="#">Intercambios</a></li>
                            <li><a href="#">Consultas y sugerencias</a></li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="../js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="../js/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="../js/bxslider.min.js"></script>
    <script type="text/javascript" src="../js/script.slider.js"></script>
</body>