@{
    ViewBag.Title = "RegistrarUsuario";
}


<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Website CSS style -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="../register_style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>Admin</title>
</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            @if (Request.IsAuthenticated)
                            {
                                <li><a href="#"><i class="fa fa-user"></i> Mi Cuenta</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> Lista de Deseo</a></li>
                            }
                            <li>
                                @Html.ActionLink("Carrito", "Carrito", "Cart")
                            </li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Cerrar sesión", "Logout", "User")
                                }
                                else
                                {
                                    @Html.ActionLink("Iniciar sesión", "Login", "User")
                                }
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="../img/logo.png"></a></h1>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End site branding area -->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Carrito", "Carrito", "Cart")
                        </li>
                        <li>
                            @Html.ActionLink("Libros", "Catalogo", "Catalogo")
                        </li>
                        <li><a href="#">Intercambio de Libros</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Registro de Usuario</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->

    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <form action=@Url.Action("RegistrarUsuario","User") method="POST" role="form">
                    <h5>(*) Datos obligatorios</h5>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Nombre (*)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario" placeholder="Ingrese su nombre" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email (*)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="mail" id="mail" placeholder="Ingresa tu email" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Contraseña (*)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="provincias" class="cols-sm-2 control-label">Provincia</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                @using (Html.BeginForm())
                                {
                                    @Html.DropDownList("provincias", ViewData["provincias"] as List<SelectListItem>, new { @class = "form-control" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="localidades" class="cols-sm-2 control-label">Localidad</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                @Html.DropDownList("localidades", new SelectList(string.Empty, "Value", "Text"), "Localidad", new { style = "width:250px", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Domicilio</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingresa su domicilio (calle, nro, piso, depto)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Ingresar</button>
                    </div>

                </form>
                @Html.ValidationSummary(true)
            </div>
        </div>
    </div>
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>u<span>Stora</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Usuario </h2>
                        <ul>
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="#">Historial de Pedidos</a></li>
                            <li><a href="#">Lista de deseos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Principal</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Libros</h2>
                        <ul>
                            <li><a href="#">Más vendidos</a></li>
                            <li><a href="#">Más visitados</a></li>
                            <li><a href="#">Novedades</a></li>
                            <li><a href="#">Intercambios</a></li>
                            <li><a href="#">Consultas y sugerencias</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>


            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#provincias").change(function () {
                $("#localidades").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLocalidades")', // we are calling json method

                    dataType: 'json',

                    data: { idProvincia: $("#provincias").val() },
                    // here we are get value of selected country and passing same value as inputto json method GetStates.

                    success: function (localidades) {
                        // states contains the JSON formatted list
                        // of states passed from the controller

                        $.each(localidades, function (i, localidad) {
                            $("#localidades").append('<option value="' + localidad.Value + '">' +
                                 localidad.Text + '</option>');
                            // here we are adding option for States

                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });
    </script>



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
        <script src="../js/bootstrap.min.js"></script>
    -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
