@{
    ViewBag.Title = "Generos";
}

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="../assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="../assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="../assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/jquery.dataTables.min.css" />
    <style type="text/css">
        .input-group-addon.primary {
            color: rgb(255, 255, 255);
            background-color: rgb(50, 118, 177);
            border-color: rgb(40, 94, 142);
        }

        .input-group-addon.success {
            color: rgb(255, 255, 255);
            background-color: rgb(92, 184, 92);
            border-color: rgb(76, 174, 76);
        }

        .input-group-addon.info {
            color: rgb(255, 255, 255);
            background-color: rgb(57, 179, 215);
            border-color: rgb(38, 154, 188);
        }

        .input-group-addon.warning {
            color: rgb(255, 255, 255);
            background-color: rgb(240, 173, 78);
            border-color: rgb(238, 162, 54);
        }

        .input-group-addon.danger {
            color: rgb(255, 255, 255);
            background-color: rgb(217, 83, 79);
            border-color: rgb(212, 63, 58);
        }
    </style>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        'use strict';
        var $ = jQuery;
        $.getScript("https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js", function () {

            $('#example').DataTable({
                "paging": true,
                "ordering": true,
                "info": false
            });
        });
    </script>
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="Index"><img src="../assets/img/logo3.png" alt="#" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                                <li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>@WebSecurity.CurrentUserName</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>Mi perfil</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Mensajes</span></a></li>
                                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Configuración</span></a></li>
                                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Cerrar sesión</span></a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="../Admin/Index" class="active"><i class="lnr lnr-home"></i> <span>Panel de Control</span></a></li>
                        <li>
                            <a href="#subPagesAgregar" data-toggle="collapse" class="collapsed"><i class="lnr lnr-plus-circle"></i> <span>Agregar/Modificar</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPagesAgregar" class="collapse ">
                                <ul class="nav">
                                    <li>@Html.ActionLink("Libros", "AgregarLibro", "Admin")</li>
                                    <li>@Html.ActionLink("Autores", "AgregarAutor", "Admin")</li>
                                    <li>@Html.ActionLink("Generos", "Generos","Genero")</li>
                                    <li>@Html.ActionLink("Editoriales", "Editoriales", "Editorial")</li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Actualizar stock</span></a></li>
                        <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Reportes</span></a></li>
                        <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                        <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                        <li>
                            <a href="#subPagesPaginas" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Paginas</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPagesPaginas" class="collapse ">
                                <ul class="nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Catálogo", "Catalogo", "Catalogo") </li>
                                    <li><a href="page-lockscreen.html" class="">Intercambios</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Listados</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">GÉNEROS LITERARIOS</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="panel">
                                        
                                            <fieldset>
                                                <h3>Datos del nuevo género literario</h3>
                                                <form action=@Url.Action("AgregarGenero","Genero") enctype="multipart/form-data" method="POST" role="form">
                                                    <div class="row form-group">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon info">Género literario:</span>
                                                                <input type="text" class="form-control" id="nombreGenero" name="nombreGenero" required>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <button class="btn btn-primary" type="submit" style="display:block; margin-left:auto; margin-right:auto">Agregar género</button>
                                                </form>
                                            </fieldset>
                                        
                                        <div class="panel-body">
                                            <h3>Lista de Generos</h3>
                                            <div class="container">
                                                <div class="row">

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <table id="example" class="display" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Código</th>
                                                                    <th>Género</th>
                                                                    <th>Modificar</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Código</th>
                                                                    <th>Género</th>
                                                                    <th>Modificar</th>
                                                                </tr>
                                                            </tfoot>
                                                            <tbody>
                                                                @if (Model != null)
                                                                {
                                                                    foreach (var genero in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>@genero.idGenero</td>
                                                                            <td>@genero.nombre</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-default btn-lg">
                                                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="../assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="../assets/vendor/toastr/toastr.min.js"></script>
    <script src="../assets/scripts/klorofil-common.js"></script>
    @if (TempData["Message"] != null)
    {

        <div id="toast-container" class="toast-top-right">
            <div class="toast toast-info" aria-live="polite" style="display: block;">
                <button type="button" class="toast-close-button" role="button" onclick="document.getElementById('toast-container').style.display = 'none'">×</button>
                <div class="toast-message">@TempData["Message"]</div>
            </div>
        </div>
    }
</body>

